
.wrapper{
    width: 90vw;
    height: auto;
    margin: 0 auto;
    border: 3px black solid;
    padding: 30px;
}

nav{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    border: 3px blue solid;
    s
}

nav li{
    display: inline-block;
}

.profile{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        
}

.profile_pic{
    width: 200px;
    height: 200px;
    padding: 20px;
}

.profile_pic img{
    width: 100%;
    height: 100%;
}

.my_name{
    margin: 0 auto;
    padding: 20px;
}

.my_name p{

    font-size: 50px;
    text-transform: uppercase;
}
